* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden;
}

body,
canvas {
    background: url('/assets/bg-sky.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    width: 100vw;
    height: 100vh;
    border: 0.15rem solid #ff1;
}